PORT=3000
MONGO_URI=mongodb://localhost:27017/mvc-auth-db
JWT_SECRET=your_jwt_super_secret_key_change_me
JWT_EXPIRES_IN=7d

# Google OAuth Credentials
# Google OAuth Credentials
GOOGLE_CLIENT_ID=270634809811-e19krv5o2dh3vo9du1981a0gm9vasn5r.apps.googleusercontent.com

# Apple Sign-In Credentials
APPLE_CLIENT_ID=your_apple_client_id

# SMTP Mail Settings
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=your_smtp_user
SMTP_PASS=your_smtp_password
FROM_EMAIL=noreply@example.com
TEST_EMAIL_OVERRIDE=your_testing_override_email@example.com

# OpenWeatherMap API Credentials
WEATHER_API_KEY=your_openweathermap_api_key
